


/*--------------------------------------*/
/*           PORTFOLIO               */
/*-------------------------------------*/


.portfolio-background {

    background-color: rgb(51, 172, 224);
    background-image: linear-gradient(45deg, rgb(72,198,242) 25%, transparent 25%, transparent 75%, rgb(72,198,242) 75%, rgb(72,198,242)),
    linear-gradient(-45deg, rgb(72,198,242) 25%, transparent 25%, transparent 75%, rgb(72,198,242) 75%, rgb(72,198,242));
    background-size: 32px 32px;

    padding: 0 1em 2em 1em;

}



/*-----------------------------------------------------------------------------*/
/*                              PORTFOLIO topbar                               */
/*---------------------------------------------------------------------------*/


.portfolio-topbar {

    background-color: azure;
    display: flex;
    margin-bottom: 2em;
    padding: 0 2em;

}


.portfolio-topbar-title {

    color: dimgrey;
    font-size: 1.4em;

}

.portfolio-topbar-title small {

        color: coral;
        font-size: 0.8em;
        padding-left: 0.5em;

}


/*-------------------------------------*/
/*           PROJECTS                */
/*-----------------------------------*/


/* custom project container classes */


.p0 {

    /* url(http://thumbs.dreamstime.com/x/ditsy-pattern-small-white-sakura-flowers-coral-red-background-seamless-vector-texture-web-print-spring-summer-fashion-36099903.jpg)*/
    background: linear-gradient(rgba(255,123,100,0.8), rgba(255,255,255,0.2)) top left repeat-x, url("../assets/images/xs-patterns/ditsy-pattern-36099903.jpg") repeat ;
    background-color: salmon;
    background-size: auto 7em, auto auto;

}


.p1 {

    /* url(http://thumbs.dreamstime.com/x/seamless-abstract-pattern-repeating-geometric-ornament-ethnic-style-vector-illustration-57356802.jpg)*/
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.4)) top left repeat-x, url("../assets/images/xs-patterns/seamless-abstract-57356802.jpg") repeat ;
    background-color: darkseagreen;
    background-size: auto 7em, auto auto;

}


.p2 {

    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.4)) top left repeat-x,
repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
  );/*last color is fallback*/
    background-color: khaki;
    background-size: auto 7em, auto auto;

}


.p3 {

    /* url(http://thumbs.dreamstime.com/x/abstract-seamless-pattern-cute-monsters-51114165.jpg) */
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.4)) top left repeat-x, url("../assets/images/xs-patterns/monsters-51114165.jpg") repeat, lightseagreen; /*last color is fallback*/
    background-color: lightseagreen;
    background-size: auto 7em, auto auto;

}


.p4 {

    /* url("http://thumbs.dreamstime.com/x/seamless-floral-repeat-pattern-blue-colors-cute-design-44053056.jpg") */
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.2)) top left repeat-x, url("../assets/images/xs-patterns/seamless-floral-44053056.jpg") repeat, lavender; /*last color is fallback*/
    background-color: lavender;
    background-size: auto 7em, auto auto;

}


.p5 {

    /*  url("http://thumbs.dreamstime.com/x/yellow-orange-geometric-pattern-paper-abstract-background-website-banner-business-card-invitation-postcard-50461555.jpg")*/
    background: linear-gradient(rgba(255,255,0,0.5), rgba(255,255,0,0.2)) top left repeat-x, url("../assets/images/xs-patterns/geometric-50461555.jpg") repeat, peachpuff; /*last color is fallback*/
    background-color: peachpuff;
    background-size: auto 7em, auto auto;
}


.p6 {

    /*url(http://http://thumbs.dreamstime.com/x/vector-seamless-decorative-pattern-hand-drawn-turtle-tribal-bac-background-53142740.jpg)*/
    background: linear-gradient(rgba(250,250,250,0.8), rgba(255,255,250,0.4)) top left repeat-x, url("../assets/images/xs-patterns/turtle-53142740.jpg") repeat;
    background-color: burlywood;
    background-size: auto 7em, auto auto;

}


.project {

    border-radius: 1em;
}


/*           project link elements                */


.project  a {

    color: cornflowerblue;   /*fallback color*/
    color: rgba(100,149,237,0.85);
    text-decoration: none;

}


/* mouse over link */
.project a:hover {

    color: yellow;   /*fallback color*/
    color: rgba(255,255,0,0.9);
    text-decoration: none;

}

.project a:focus {

    color: cornflowerblue;   /*fallback color*/
    color: rgba(100,149,237,0.85);
    text-decoration: none;

}

.project h1 {

    font-size: 2em;
    padding-left: 0.8em;
}

.project h2 {

    font-size: 1.7em;
    padding: 0.8em 1em 0.8em 0;
}


.project h3 {

    font-size: 1.1em;
    margin-top: 0;
}

.project small {
    font-size: 0.8em;
    margin-top: 0;
    padding: 0;
}

.project-title {

    color: rgb(20,20,20);   /*fallback color*/
    color: rgba(20,20,20,0.4);
    line-height:  0.8em;
    margin-top: 0;
    padding: 0;

}

.project-title small {

    color: darkslategray;

}


.project header p {

    font-weight: 600;
    padding-left: 1.5em;

}


/*---------------------------------------------*/
/*           Project Sections                */
/*-------------------------------------------*/

.project p {
    padding: 0;
}

.project section {

    background-color: white;  /*fallback color*/
    background-color: rgba(255,255,255,0.4);
    border-radius: 1em;

    font-size: 0.9em;
    font-weight: 600;

    margin: 1em 0 1em 0em;
    padding: 1em 0 1em 0;

}


  /*section color for Project 1 Build a Portfoilio Site */
.p1 section  {

    background-color: gray;  /*fallback color*/
    background-color: rgba(250,250,250,0.6);

}


  /*section color for Project 3 Classic Arcade Game Clone */
.p3 section  {

    background-color: palegreen;  /*fallback color*/
    background-color: rgba(100,255,200,0.6);

}


.project .first-column  {

    margin-right:  0;
    padding-right: 0;

}


.project footer p {

    padding-top: 0;
}

.project figcaption {

    color: darkslategrey;
    font-size: 0.9em;
    font-style: italic;
    font-weight: 600;
    line-height: 1em;
    padding-bottom: 0.4em;
    padding-top: 0.3em;
    text-align: left;

}


 .panel-title a {

    color: darkslategray;  /*fallback color*/
    color: rgba(30,30,30,0.8);
    font-size: 0.7em;
    font-weight: 700;
}


.panel-title a:hover {

    color: gold;

}


.panel-body  {

    font-size: 0.7em;
    padding: 0.5em 0.4em 0.5em 0.4em;

}


.panel-body a {

    color: black;
    margin 0.2em 0.5em 0.2em 0.5em;
    padding: 0.5em 1em 0.5em 1em;

}

.panel-body a:hover {

    color: gold;

}


.list-group-item {


    text-align: center;

}

.panel-body .nav li a:hover {

    background-color: silver;
    background-color: rgba(100,100,100,0.15);
    color: darkslategrey;

}

.panel-body .nav li a:active {

    color: gold;

}

