
body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

p {

    margin-left: 1em;

}


.bio-card {

    float: right;
    padding: 1.8em 1.8em 1em 1.8em;
    margin: 0;
    width: 80%;

}

.bio-gallery {

    float: left;
    width: 20%;

}

.biopic {

    margin: 1.5em;

}

.biopic img {

    border-radius: 50px 15px;
    float: right;
    width: auto;
    margin-bottom: 2em;
    padding: 0;

}


figure.biopic {

    width: auto;

}

picture {


    background-color: yellow;

}

.clear-fix {
  overflow: auto;
}

.container {

    padding: 0;

}

.date-text {

    margin-right: 1em;
}

.resume-heading {

    font-size: 1.3em;
    text-align: left;

}

.resume-heading .small {

        font-size: 1.5em;
        padding-left: 0;

}

.education-entry,
.work-entry,
.project-entry {

    font-weight: 500;
    font-size: 1.2em;
    margin: 0.3em 1em 0.3em 1em;
    padding: 0.5em 2em 0.5em 2em;
    background-color: white;
    border-radius: 0.5em;

}

.online-school-entry {

    padding: 1.5em 0 2em 2em;

}

h1 {
    font-size: 1.3em;
    color: #f5a623;
    line-height: 2em;
    display: inline;
}

h2 {
    color: darkgray;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.2em;
    padding: 0.5em 1em 0.5em 1em;
}

h3 {
    font-style: italic;
    font-size: 0.9em;
    line-height: 1em;
    padding: 0.5em 0.5em;
}

h4 {
  font-weight: bold;
  font-size: 0.7em;
  color: #4a4a4a;
  line-height: 1em;
}

.online-course {

    font-size: 1.6em;
    margin: 0 0 0 1em;

}

.job-description {

    font-weight: 400;

}

.job-title {

    margin-bottom: 0.5em;

}

.date-text {
  font-style: italic;
  font-size: 1em;
  color: #999;
  line-height: 1.5em;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 1em;
  color: #999;
  line-height: 1em;
  float: right;

}

p {

  font-size: 1em;
  color: #333;
  line-height: 1.4em;

}

a {
  color: #1199c3;
  text-decoration: none;
/*  margin-top: 10px;*/
  display: block;
}

.welcome-message {

    color: wheat;
    font-style: italic;
    font-size: 1.5em;
    padding: 1em 0 0.5em 0;

}

#skills-h3 {

    color: ghostwhite;
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em 0 0.5em 0;

}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.skill-list-item {

    color: white;
    font-size: 1em;

}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;


}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}


span {
  padding: 0.3em;
}

.lets-connect {
  text-align: center;
}

.lets-connect h2 {

    color: snow;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.8em;
    padding: 0;

}

.bkgnd-pattern1 {
    background:  url(/assets/images/xs-patterns/dark_embroidery.png);
}

.bkgnd-patternCSS1 {

    background: linear-gradient(rgba(10,10,10,0.45), rgba(10,10,10,0.05)) top left repeat-x,
repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
  hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px,
  hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
  hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px,
  hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px,
  hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
  );/*last color is fallback*/
    background-color: khaki;
    background-size: auto auto auto auto;

}

#map {
  display: block;
  height: 100%;

}

#mapDiv {
  height: 350px;
  width: 100%;
}

#name {

    color: paleturquoise;
    font-size: 1.8em;
    text-shadow: 2px -0 4px black;

}

#roleTitle {

    color: goldenrod;
    font-size: 1.4em;
    text-shadow: 2px -0 4px black;


}

#skills {

    padding: 0;
    margin-bottom: 0;

}

#topContacts {

    margin-top: 0.8em;

}



/*-----------------------------------------------*/
/*   MEDIA QUERIES FOR DEVICES     */
/*-----------------------------------------------*/

/* media query for --- bootstrap xSMALL devices ----- break point */
@media only screen and (min-width: 320px) and (max-width: 767px) {

    #name {

          font-size: 1.2em;

    }

    #roleTitle {

        font-size: 1em;

    }

    #skills-h3 {

        font-size: 1.2em;

    }

    .bio-card {

        padding: 1.5em 2em 1.5em 2em;

    }

    .bio-gallery {

        display: none;

    }

    .bio-card {

        width: 100%;

    }

    .resume-heading {

        font-size: 1.3em;

    }

    .online-course {

        font-size: 1.2em;

    }

    .education-entry,
    .work-entry,
    .project-entry {

    font-weight: 500;
    font-size: 0.9em;

    }

    .skill-list-item {

         padding-right: 1em;

    }


    /*    portfolio CSS rules*/

    .project header p {

            font-size: 0.8em;
    }

    .project-title small {

        font-size: 0.7em;

    }

    .welcome-message {

        display: none;

    }
}

/* media query for --- bootstrap SMALL devices ----- break point */
@media only screen and (min-width: 768px) and (max-width: 991px)  {

    .container {

        padding: 2em;

    }

     .education-entry,
    .work-entry,
    .project-entry {

        font-weight: 500;
        font-size: 1em;

    }

    skill-list-item {

        font-size: 1.4em;


    }

    /*    portfolio CSS rules*/

     .panel-body a {

        font-size: 1.5em;

    }

    .panel-body p {

        font-size: 1.5em;

    }

    .panel .collapsed {

        font-size: 1em;

    }

    .project header p {

         font-size: 0.9em;

    }


}

/* media query for bootsrap MEDIUM desktops break point*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .biopic img {
        border-radius: 45px 15px;
    }

    .container {

        padding: 2em;

    }

    .skill-list-item {

        font-size: 1.4em;


    }

/*    portfolio CSS rules*/


    .project header p {

        font-size: 0.8em;
    }

    .project-title small {

        font-size: 0.7em;

    }
}


/* media query for --- bootstrap LARGE devices ----- break point */
@media only screen and (min-width: 1200px) {

    .bio-card {

        margin-top: 2em;

    }

    .container {

        padding: 2.5em;


    }

     .skill-list-item {

         font-size: 1.7em;

    }

    /*    portfolio CSS rules*/

     .project header p {
        font-size: 1em;
        padding-left: 0.3em;
    }


}


